%div.boxtitle
  All Scheduled/Completed Deliveries
%div.boxcontent
  - column_titles = ['ID', 'Priority', 'Scheduled Time', 'Delivered On', 'State', 'Items', 'Actions']
  = raw index_table(@recipient.deliveries.in_order_of_delivery(), column_titles, 'deliveries/delivery')     
