%div.boxtitle
  All Scheduled/Completed Pickups
%div.boxcontent
  - column_titles = ['ID', 'State', 'Class', 'Pending', 'Scheduled Time', 'Picked up On', 'Items', 'Actions']
  = raw index_table(@donor.donor_pickups.ordered_by_pickup_time(), column_titles, 'donor_pickups/donor_pickup')     
